/*adding PT Sans fonts*/
@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/PTSans-Regular.ttf) format('truetype');
}
/*adding Lobster fonts*/
@font-face {
  font-family: Lobster;
  src: url(../fonts/lobster/Lobster-Regular.ttf) format('truetype');
}

/*global styles*/
* {
  font-family: Lobster, 'PT Sans', monospace;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f1f1f2;
}
h1, h2 {
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}

/*specific styles*/

/*header*/
header {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
}

/*navigation*/
nav {
  width: 100%;
  display: flex;
  justify-content: center;
}
.navigation {
  font-size: 22px;
  margin: 30px;
  padding: 10px;
  border-radius: 2px;
  filter: drop-shadow(2px 2px 2px #007ec0)
}
.navigation:hover {
  filter: drop-shadow(5px 5px 5px #007ec0);
}
#home-icon {
  width: 64px;
  height: 64px;
}
#about-icon {
  width: 64px;
  height: 64px;
}
#contact-icon {
  width: 64px;
  height: 64px;
}

/*main*/
main {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  grid-template-areas: 'photo description';
}

/*photo section*/
.main-section {
  margin: 30px;
  padding: 20px;
  /* border: 0.1px solid blue; */
}
#photo {
 display: flex;
 justify-content: center;
 /* border: 1px solid blue; */

}
#photo img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  filter: drop-shadow(5px 5px 5px #007ec0);
}
#photo img:hover {
  filter: drop-shadow(10px 10px 10px #007ec0);
  cursor: pointer;
}

/*description section*/
#description {
  color: #616161;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
#description span {
  color: #0079b9;
}
.introduction {
  border: 1px solid black;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.greeting-section {
  margin-top: 20px;
}
.describe-myself-section {
  margin-top: 20px;
  font-size: 22px;
}
.links {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.links img {
  margin-right: 20px;
  /* border: 1px solid blue; */
}
.linkedin {
  margin-top: 15px;
  margin-right: 10px;
  width: 70px;
  height: 70px;
}
.twitter {
  margin-top: 15px;
  width: 70px;
  height: 70px;
}
.github img {
  width: 60px;
  height: 60px;
}

/*footer */
footer {
  font-size: 15px;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}




