/*adding PT Sans fonts*/
@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/PTSans-Regular.ttf) format('truetype');
}
/*adding Lobster fonts*/
@font-face {
  font-family: Lobster;
  src: url(../fonts/lobster/Lobster-Regular.ttf) format('truetype');
}

/*global styles*/
* {
  font-family: Lobster, 'PT Sans', monospace;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f1f1f2;
}
h1, h2 {
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}

/*specific styles*/

/*header*/
header {
  max-width: 100%;
}
/*navigation*/
nav {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}
.navigation {
  font-size: 30px;
  border-radius: 2px;
  filter: drop-shadow(1px 1px 1px #007ec0)
}
.navigation p {
  color: #616161;
}
.navigation:hover {
  filter: drop-shadow(5px 5px 5px #007ec0);
}
@media (max-width: 300px) {
  .navigation p {
    display: none;
  }
  #home {
    background-image: url(../icons/home.png);
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
  }
  #about {
    background-image: url(../icons/info.png);
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
  }
  #get-in-touch {
    background-image: url(../icons/contacts.png);
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
  }
}

/*main*/
main {
  display: grid;
  justify-items: center;
  grid-template: 0.5 1fr / 1fr;
  grid-template-areas: 'photo' 
                       'description';
}

/*photo section*/
#photo img {
  margin-top: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  filter: drop-shadow(3px 3px 3px #007ec0);
}
#photo img:hover {
  filter: drop-shadow(6px 6px 6px #007ec0);
  cursor: pointer;
}

/*description section*/
#description {
  text-align: center;
  color: #616161;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
#description span {
  color: #0079b9;
}
.introduction {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.greeting-section {
  margin-top: 20px;
}
.describe-myself-section {
  margin-top: 20px;
  font-size: 22px;
}
.links {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.links img {
  filter: drop-shadow(2px 2px 2px #007ec0);

}
.links img:hover {
  filter: drop-shadow(5px 5px 3px #007ec0);
}
.linkedin img,
.twitter img, 
.github img {
  margin-top: 15px;
  width: 50px;
  height: 50px;
  margin-right: 5px;
}
/*footer */
footer {
  max-width: 100%;
  color: #676767;
  font-size: 15px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}




